<div>
    <div>
        <h2>CURSO</h2>
        <ul>
            <li>ID: {{course.id}}</li>
            <li>Nombre: {{course.name}}</li>
        </ul>
    </div>
    <div>
        <h2>ESTUDIANTES</h2>
        <table>
            <thead>
                <th>ID</th>
                <th>IDENTIFICACION</th>
                <th>NOMBRE</th>
                <th>APELLIDO</th>
            </thead>
            <tbody>
                @for (student of course.students; track $index) {
                    <tr>
                        <td>{{student.id}}</td>
                        <td>{{student.identification}}</td>
                        <td>{{student.name}}</td>
                        <td>{{student.surname}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
