<div class="container">
    <div class="card my-5">
        <div class="card-header">
            <h2>CURSO</h2>
        </div>
        <ul class="list-group">
            <li class="list-group-item">ID: {{course.id}}</li>
            <li class="list-group-item">Nombre: {{course.name}}</li>
        </ul>
    </div>
    <div class="card my-5">
        <div class="card-header">
            <h2>ESTUDIANTES</h2>
        </div>
        <table class="table table-striped">
            <thead>
                <th>ID</th>
                <th>IDENTIFICACION</th>
                <th>NOMBRE</th>
                <th>APELLIDO</th>
            </thead>
            <tbody>
                @for (student of course.students; track $index) {
                    <tr>
                        <td>{{student.id}}</td>
                        <td>{{student.identification}}</td>
                        <td>{{student.name}}</td>
                        <td>{{student.surname}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
