<div>
    <div>
        <h2>FACTURA</h2>
        <div>
            <ul>
                <li>No. {{invoice.id}}</li>
            </ul>
        </div>
        <div>
            <h3>EMPRESA</h3>
            <ul>
                <li>RUC: {{invoice.company.ruc}}</li>
                <li>Nombre: {{invoice.company.name}}</li>
                <li>Direccion: {{invoice.company.address.city}}, {{invoice.company.address.principalStreet}},
                    {{invoice.company.address.secondaryStreet}}, {{invoice.company.address.code}}</li>
            </ul>
        </div>
        <div>
            <h3>CLIENTE</h3>
            <ul>
                <li>ID: {{invoice.customer.id}}</li>
                <li>Nombre: {{invoice.customer.name}}</li>
                <li>Apellido: {{invoice.customer.surname}}</li>
                <li>Direccion: {{invoice.customer.address.city}}, {{invoice.customer.address.principalStreet}},
                    {{invoice.customer.address.secondaryStreet}}, {{invoice.customer.address.code}}</li>
            </ul>
        </div>
        <div>
            <table>
                <thead>
                    <th>PRODUCTO</th>
                    <th>PRECIO</th>
                    <th>CANTIDAD</th>
                </thead>
                <tbody>
                    @for (item of invoice.items; track $index) {
                        <tr>
                            <td>{{$index}}</td>
                            <td>{{item.product.name}}</td>
                            <td>{{item.product.price}}</td>
                            <td>{{item.quantity}}</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>