<div class="container">
    @if (invoice) {
    <div class="card my-5 border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2 class="m-0">FACTURA</h2>
        </div>
        <div class="card-body">
            <ul class="list-group mb-4">
                <li class="list-group-item list-group-item-info"><strong>No.</strong> {{invoice.id}}</li>
            </ul>

            <div class="row mb-4">
                <div class="col-sm-6">
                    <app-company-view [company]="invoice.company"></app-company-view>
                </div>
                <div class="col-sm-6">
                    <app-customer-view [customer]="invoice.customer"></app-customer-view>
                </div>
            </div>

            <div>
                <app-invoice-detail [items]="invoice.items"></app-invoice-detail>
            </div>
        </div>
    </div>
    } @else {
    <p class="text-center mt-5">Cargando factura...</p>
    }
</div>