<div class="container">
    <div class="card my-5">
        <div class="card-header">
            <h2>FACTURA</h2>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">No. {{invoice.id}}</li>
            </ul>
        </div>
        <div class="row">
            <div class="col">
                <h3>EMPRESA</h3>
                <ul class="list-group">
                    <li class="list-group-item">RUC: {{invoice.company.ruc}}</li>
                    <li class="list-group-item">Nombre: {{invoice.company.name}}</li>
                    <li class="list-group-item">Direccion: {{invoice.company.address.city}}, {{invoice.company.address.principalStreet}},
                        {{invoice.company.address.secondaryStreet}}, {{invoice.company.address.code}}</li>
                </ul>
            </div>
            <div class="col">
                <h3>CLIENTE</h3>
                <ul class="list-group">
                    <li class="list-group-item">ID: {{invoice.customer.id}}</li>
                    <li class="list-group-item">Nombre: {{invoice.customer.name}}</li>
                    <li class="list-group-item">Apellido: {{invoice.customer.surname}}</li>
                    <li class="list-group-item">Direccion: {{invoice.customer.address.city}}, {{invoice.customer.address.principalStreet}},
                        {{invoice.customer.address.secondaryStreet}}, {{invoice.customer.address.code}}</li>
                </ul>
            </div>
        </div>
        <div class="my-5">
            <table class="table table-striped">
                <thead>
                    <th>PRODUCTO</th>
                    <th>PRECIO</th>
                    <th>CANTIDAD</th>
                </thead>
                <tbody>
                    @for (item of invoice.items; track $index) {
                    <tr>
                        <td>{{$index}}</td>
                        <td>{{item.product.name}}</td>
                        <td>{{item.product.price}}</td>
                        <td>{{item.quantity}}</td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>